<div class="container">
  <h1>Welcome to UserDummies -- Creating a New User!</h1>
  <p><i>Give us your personal information!!  We needs it!</i></p>
  
  <form action="/save" method="post">
    <p>Enter your name here!</p>
    <input type="text" size="40" name="name" placeholder="(your name)">
    <br><br>
    <p>Your email goes here:</p>
    <input type="text" size="70" name="email" placeholder="(we steal your email here)">
    <br><br>
    <p>We needs your password:</p>
    <input type="text" size="20" name="password" placeholder="at least 6 chars">
    <br>
    <input type="submit" value="Go go go!!">
  </form>
</div>
